<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257313838147-vmubsmp6udl57tti6n2drmephdbkb7mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257313838147-vmubsmp6udl57tti6n2drmephdbkb7mb</string>
	<key>API_KEY</key>
	<string>AIzaSyCXpuJNUKnLLDMITIAi5I_X-eHAirEXzRg</string>
	<key>GCM_SENDER_ID</key>
	<string>257313838147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>projeto-mobile-petshop</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-mobile-petshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257313838147:ios:46bfc2ef912faa9a21b0f6</string>
</dict>
</plist>